* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.title {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 30px;
    text-align: center;
    width: 80%;
}

.navbar {
    width: 100%;
}

.navbar-brand {
    margin-left: 20px;
    white-space: 2px;
}

.navbar-nav {
    margin-left: 68%;
}

.head {
    text-align: center;
}

.foot {
    font-size: 12px;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;
    
}

.photo {
    width: 250px;
}

.logo {
    width: 80px;
    display: inline;
    margin-left:40px;
}

.logo_s{
    width: 65px;
    margin-left: 50px;
}